<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <style>
        .selected-page{
            background-color:#eee;
            pointer-events:none;
        }
    </style>

</head>
<body>

<!--Nav-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/admin">Manage Locations</a>
                </li>
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/admin/upload-file">Upload File</a>
                </li>
            </ul>

            <a class="btn btn-light btn-sm ml-3" href="/logout">
                <i class="fas fa-sign-out-alt"></i> Logout
            </a>
        </div>
    </div>
</nav>

<br>

<div class="container mb-5">

    <!--Fast Foods-->
    <h1>Fast Foods</h1>
    <div class="row" th:if="${fastFoods}">
        <table class="table table-dark">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="fastFood : ${fastFoods}">
                <td th:text="${fastFood.getId()}"></td>
                <td th:text="${fastFood.getName()}"></td>
                <td th:text="${fastFood.getLat()}"></td>
                <td th:text="${fastFood.getLon()}"></td>

                <td class="text-right">
                    <form th:method="get"
                          th:action="@{'/admin/delete-fast-food/{id}' (id=${fastFood.getId()})}">
                        <button type="submit" class="btn btn-sm btn-danger">
                            <i class="fa fa-trash">Delete</i>
                        </button>
                    </form>
                </td>
                <td>
                    <a class="btn btn-sm btn-info"
                       th:href="@{'/admin/edit-fast-food/{id}' (id=${fastFood.getId()})}">
                        <i class="fa fa-trash">Edit</i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--Pagination Guide-->
    <div th:if = "${fTotalPages > 1}">
        <nav aria-label="Page navigation example" >
            <ul class="pagination">
                <li class="page-item"><span th:text="'Total Rows: ' + ${fTotalItems}" class="page-link" href="#"></span></li>

                <li class="page-item" th:each = "i : ${#numbers.sequence(1, fTotalPages)}">
                    <a class="page-link" th:if = "${i != fCurrentPage}" th:href = "@{'/admin/page' + '?fPageNo=' + ${i} + '&pPageNo=' + ${pCurrentPage}}" th:text = "${i}"></a>
                    <span class="page-link selected-page" th:unless = "${i != fCurrentPage}" th:text = "${i}"></span>
                </li>

                <li class="page-item">
                    <a class="page-link" th:if = "${fCurrentPage < fTotalPages}" th:href = "@{'/admin/page' + '?fPageNo=' + ${fCurrentPage+1} + '&pPageNo=' + ${pCurrentPage}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                    <span class="page-link" th:unless = "${fCurrentPage < fTotalPages}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </span>
                </li>
            </ul>
        </nav>
    </div>

    <!--Add New Fast Food Button-->
    <div class="col-sm-4 col-md-4">
        <a href="/admin/add-fast-food" class="btn btn-block btn-dark">Add new Fast Food</a>
    </div>

    <br>

    <!--Pubs-->
    <h1>Pubs</h1>
    <div class="row" th:if="${pubs}">
        <table class="table table-dark">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pub : ${pubs}">
                <td th:text="${pub.getId()}"></td>
                <td th:text="${pub.getName()}"></td>
                <td th:text="${pub.getLat()}"></td>
                <td th:text="${pub.getLon()}"></td>

                <td class="text-right">
                    <form th:method="get"
                          th:action="@{'/admin/delete-pub/{id}' (id=${pub.getId()})}">
                        <button type="submit" class="btn btn-sm btn-danger">
                            <i class="fa fa-trash">Delete</i>
                        </button>
                    </form>
                </td>
                <td>
                    <a class="btn btn-sm btn-info"
                       th:href="@{'/admin/edit-pub/{id}' (id=${pub.getId()})}">
                        <i class="fa fa-trash">Edit</i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--Pagination Guide-->
    <div th:if = "${pTotalPages > 1}">
        <nav aria-label="Page navigation example" >
            <ul class="pagination">
                <li class="page-item"><span th:text="'Total Rows: ' + ${pTotalItems}" class="page-link" href="#"></span></li>

                <li class="page-item" th:each = "i : ${#numbers.sequence(1, pTotalPages)}">
                    <a class="page-link" th:if = "${i != pCurrentPage}" th:href = "@{'/admin/page' + '?fPageNo=' + ${fCurrentPage} + '&pPageNo=' + ${i}}" th:text = "${i}"></a>
                    <span class="page-link selected-page" th:unless = "${i != pCurrentPage}" th:text = "${i}"></span>
                </li>

                <li class="page-item">
                    <a class="page-link" th:if = "${pCurrentPage < pTotalPages}" th:href = "@{'/admin/page' + '?fPageNo=' + ${fCurrentPage} + '&pPageNo=' + ${pCurrentPage+1}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                    <span class="page-link" th:unless = "${pCurrentPage < pTotalPages}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </span>
                </li>
            </ul>
        </nav>
    </div>

    <!--Add New Pub Button-->
    <div class="col-sm-4 col-md-4">
        <a href="/admin/add-pub" class="btn btn-block btn-dark">Add new Pub</a>
    </div>

</div>


</body>
</html>



