<!DOCTYPE html>
<html lang='en' xmlns='http://www.w3.org/1999/xhtml' xmlns:th='http://www.thymeleaf.org'>
<head>
  <meta charset='UTF-8'>
  <title>File Uploader</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav m-auto">
        <li class="nav-item m-auto">
          <a class="nav-link active" href="/admin">Manage Locations</a>
        </li>
        <li class="nav-item m-auto">
          <a class="nav-link active" href="/admin/upload-file">Upload File</a>
        </li>
      </ul>

      <a class="btn btn-light btn-sm ml-3" href="/logout">
        <i class="fas fa-sign-out-alt"></i> Logout
      </a>
    </div>
  </div>
</nav>

<br>

<div class='container'>
  <div class='row'>
    <div class='col-6 mx-auto mt-3'>
      <h1>File Uploader</h1>
      <form action='/admin/upload-file' method='POST' enctype='multipart/form-data'>
        <label for='formFileLg' class='form-label'>Input Data</label>
        <input class='form-control form-control-lg' id='formFileLg' type='file' name='file' required/>
        <button type='submit' class='btn btn-primary mt-1'>Submit</button>
      </form>
      <div class='mt-2'>
        <th:block th:if='${message != null}'>
          <p class='text-success text-center h4' th:text='${message}'></p>
        </th:block>
        <th:block th:if='${error != null}'>
          <p class='text-danger text-center h4' th:text='${error}'></p>
        </th:block>
      </div>
    </div>
  </div>
</div>
</body>
</html>